{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
            <div class="col-8">
                <br>
                <div class="card">
                    <center>
                        <div class="card-header">
                            Order {{ order.id }} - ${{ order.amount_paid }}
                        </div>
                    </center>
  
                    <div class="card-body">
                    Email - {{ order.email }}<br>
                    {% if order.shipped %}
                        Date Shipped - {{ order.date_shipped }}<br>
                    {% else %}
                        Date Ordered - {{ order.date_ordered }}<br>
                    {% endif %}
                    Full Name - {{ order.full_name }}<br>
                    Shipping Address - {{order.shipping_address }}
                    <br>
                    {% for item in items %}
                        {{ item.product }} - {{ item.quantity }} - ${{ item.price }} <br>
                    {% endfor %}
                    <br>
                    {% if not order.shipped %}
                    <form method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="shipping_status" value="true">
                        <button type="submit" class="btn btn-success">
                            Mark As Shipped
                        </button>
                    </form>
                    {% else %}
                    <form method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="shipping_status" value="false">
                        <button type="submit" class="btn btn-danger">
                            Mark As Not Shipped
                        </button>
                    </form>
                    {% endif %}
                    </div>
                </div>
            </div>
    </div> 
</div>

{% endblock %}